html,
body {
margin: 0;
padding: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
box-sizing: border-box;
}

@media (max-width: 1200px) {
.widescreen {
background-color: coral;
}
}

@media (max-width: 992px) {
.normal {
background-color: lightblue;
}
}

@media (max-width: 768px) {
.tablet {
background-color: lightgreen;
}
}

@media (max-width: 576px) {
.smartphone {
background-color: lightcoral;
}
}

@media (orientation: landscape) {
.landscape {
background-color: gold;
}
}

@media (max-height: 500px) {
.height {
background-color: cyan;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
body {
background-color: grey;
}
}

main {
display: flex;
}

.main {
container-type: inline-size;
container-name: main;
width: 100%;
margin: 30px auto;
padding: 20px;
border: 1px solid red;
}

main p {
background-color: lightgreen;
}

aside {
/* inline-size to control width; inline-block to control height */
container-type: inline-size;
container-name: aside;
flex: 0 0 30%;
background-color: #f4f4f4;
padding: 20px;
border: 1px solid red;
}

@container main (max-width: 992px) {
main p {
background-color: lightblue;
width: 70cqw;
/* 50% of vh */
height: 50cqh;
}
}

@container aside (max-width: 300px) {
aside p {
background-color: lightgreen;
}
}