html,
body{{
margin: 0;
padding: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
width: 200px;
height: 200px;
background-color: lightblue;
border: 1px solid black;
margin:10px;
display: flex;
justify-content: center;
align-items: center;
}

.box-1 {
position: static;
/* top,left has no effect */
left: 30px;
top: 20px;
}

.box-2 {
position: relative;    
left: 30px;
top: 20px;
}

.box-3 {
position: fixed;
top: 0;
left: 10px;
z-index: 2;
}

/* relative = fixed */
.box-4 {
position: sticky;
bottom: 100px;
/* z-imdex: -2; */ 
}

.box-5 {
width: 400px;
height: 400px;  
right: 0;
top: 0;  
}

.box-6 {
position: absolute;
bottom: 20px;
right: 20px;
}

.container {
border: 1px solid red;
margin: 50px 0px;
position: relative;
}