html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    transition:
        background-color 0.8s ease-out 0.5s,
        width 0.1s ease-in-out;
}

.btn:hover {
    background-color: green;
    color: yellow;
    width: 400px;
    border-radius: 50px;
    opacity: 0.5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
    max-width: 60%;
    transition: all 0.1s;
}

.logo:hover {
    transform: rotate(90deg) scale(1.5) translate(200px, 200px) skew(-30deg);
}

.card-container {
    margin-top: 50px;
    text-align: center;
    perspective: 1000px;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    line-height: 300px;
    text-align: center;
}

.front {
    background-color: #3498db;
    color: #fff;
}

.back {
    background-color: #2ecc71;
    color: #fff;
    transform: rotateY(180deg);
}

.btn-1 {
    max-width: 600px;
    display: inline;
    cursor: pointer;
    padding: 10px 20px;
    background: cyan;
    color: #333;
    border-radius: 5px;
    margin: 10px;
}

.dark {
    background: #333;
    color: #fff;
}

.yellow {
    color: yellow;
}