html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: lightblue;
  --secondary-color: lightcoral;
  --tertiary-color: lightgreen;
  --shadow-opacity: 0.4;
  --container-width: 600px;
  --container-width-large: 1100px;
  --container-tertiary-color: lightyellow; /* 新增定义 */
}

body {
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: var(--secondary-color);
  padding: 20px 0;
  text-align: center;
  margin-bottom: 10px;
}

.container {
color: var(--container-color, green);
display: flex;
max-width: var(--container-width);
margin: 30px auto;
gap: 20px;
}  

.container {
--container-color: green;
--container-box-color: cyan;
}

.container-lg {
  max-width: var(--container-width-large);
}

.box-1 {
  background-color: var(--tertiary-color);
}

.box-2 {
  background-color: var(--container-box-color);
}

.box-3 {
  background-color: var(--primary-color);
}